


*{outline: none;}

.head-cont {
    background-image: url('https://res.allmacwallpaper.com/get/Retina-MacBook-Air-13-inch-wallpapers/Arabian-Desert-at-Night,-2560x1600/19284-11.jpg');
    /* background-image: linear-gradient(45deg, 
    #02b355
    , #027bb3);
    */
    background-attachment: fixed;
    background-size: 1500px 850px;
	height: 999px;

   

}



.tabs-size {
	align-items: center;
}
.float-sub-title {
	float: right;
	float: top;
	color: white;
	text-align: center;
}

.solution-subtitle {
	top: -5px;
	
	background-attachment: fixed;
	text-align: center;
	color: white;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item {
    background-attachment: fixed;
    padding-top: 250px;
     /* Fallback: Set a background color. */
     background-color: white;

     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
  
     /*
       Introduced in IE 10.
       See http://ie.Microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
  
     

  
  /* Create the gradient. */
 
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.parallax-phs {
    padding-top: 690px;
    background: url(../images/parallax-tsio-photoshop.png);
    background-position: top center;
    height: 380px;
    background-size: auto 380px;
	margin: -380px 0 -190px 0;
	border-block-color: transparent;
}
.button-container {
    align-items:center;
    

}

.obj-centered {
    justify-content: center;
    align-items: center;
}
.button-link {
    background-color: rgb(69, 108, 236);
    color: #fff;
    border-color: #fff;
    
    outline: none;
    border-style: none;
    width: 200px;
    padding-top: 10px;
   

    height: 35px;
}
.button-link:hover {
    background-color: rgb(121, 152, 255);
    
}



.arduino {
    color: white;
    height: 60px;
    width: 60px;
    padding-left: -345px;
}

.contnent-title {
    color: rgb(28, 100, 255);
}
/*Main Page Style*/
.m-page {
    size: none;

   
}
/*/*//*/*//*/*//*/*/
/* 
###################
TABS
###################
*/
/*/*//*/*//*/*//*/*/

/*! jQuery UI - v1.12.1 - 2016-09-14
* http://jqueryui.com
* Includes: core.css, accordion.css, autocomplete.css, menu.css, button.css, controlgroup.css, checkboxradio.css, datepicker.css, dialog.css, draggable.css, resizable.css, progressbar.css, selectable.css, selectmenu.css, slider.css, sortable.css, spinner.css, tabs.css, tooltip.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
-